HEADER
<a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

<img src="{{ "/assets/images/rubicon-logo.png" | absolute_url }}" >


<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link" href="index.html">Dashboard</a></li>
  <li class="nav-item"><a class="nav-link" href="roster.html">Roster</a></li>
  <li class="nav-item"><a class="nav-link active" href="groups.html">Groups</a></li>
  <li class="nav-item"><a class="nav-link" href="policies.html">Policies</a></li>
</ul>
