<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- jQuery first, then Popper, then Bootstrap JS. -->
    <script src="{{ "/assets/js/localstoragedb.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/initialize_localstorage.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/jquery-3.2.1.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/popper.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/mustache.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/chartist.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/dragula.min.js" | relative_url }}"></script>
  </body>

</html>
